@using Get_A_Taxi.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Get-A-Taxi Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
   
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Get-A-Taxi", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>
                    <li class="nav-divider"></li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    <li class="nav-divider"></li>
                </ul>
                @Html.Partial("_ManagerPartial")
                @Html.Partial("_AdminPartial")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @if (TempData["Error"] != null)
        {
            <p class="alert-warning">@TempData["Error"]</p>
        }
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Get-A-Taxi Application</p>
        </footer>
    </div>
    @if (TempData["Success"] != null)
    {
        <script type="text/javascript">alert("@TempData["Success"]");</script>
        TempData["Success"] = null;
    }
    @if (TempData["Error"] != null)
    {
        <script type="text/javascript">alert("@TempData["Error"]");</script>
        TempData["Error"] = null;
    }
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/getataxi")
    @RenderSection("scripts", required: false)
</body>
</html>
