@using Get_A_Taxi.Web.Infrastructure.LocalResource
@using Microsoft.AspNet.Identity

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Resource.Hello + " " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage" })</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resource.Logout</a></li>
        @Html.Partial("_LocalizationPartial")
    </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink(Resource.Register, "Register", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink(Resource.Login, "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
            @Html.Partial("_LocalizationPartial")
        </ul>
    }

