@model Get_A_Taxi.Web.Areas.Operator.ViewModels.OrderInputVM
<div id="map"></div>
<div class="mapHoverPanel" id="phoneOrderDiv">
    @using (Ajax.BeginForm("SearchUser", null, new AjaxOptions
{
    //  UpdateTargetId = "results",
    //   InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    //OnComplete = "phoneSearchResult()"
    OnSuccess = "searchPane.phoneSearchUpdate"
}, new { id = "phoneSearchForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", id = "phoneSearchBox", oninput = "searchPane.phoneChanged()" } })
            </div>
        </div>
    }

    <div id="addOrderPartial">
        @Html.Partial("_AddOrderPartialView")
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    var lat = @ViewBag.Lat.ToString("0.000000000").Replace(",", ".");
    var lon = @ViewBag.Lng.ToString("0.000000000").Replace(",", ".");
    var defaultLat = parseFloat(lat);
    var defaultLon = parseFloat(lon);
</script>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
@Scripts.Render("~/bundles/gmaps")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/signalr")
<script src="~/signalr/hubs" type="text/javascript"></script>
<div id="currentOrdersPartial">
    @Html.Partial("_CurrentOrdersPartialView")
</div>
<script>
    /// <reference path="/Scripts/gmaps.js" />
    /// <reference path="/Scripts/jquery.signalR-2.2.0.js" />
    /// <reference path="/Scripts/knockout-2.0.0.debug.js" />

    var searchPane = function () {
        var phoneSearchUpdate = function (data, status, xhr) {
            if (data != null) {
                $('#OrderAddress').val(data.orderAddress);
                $('#FirstName').val(data.firstName);
                $('#LastName').val(data.lastName);
            }
        }

        var phoneChanged = function () {
            if ($('#phoneSearchBox').val().length > 9) {
                $('#phoneSearchForm').submit();
                $('#PhoneNumber').val($('#phoneSearchBox').val());
            }
        }
        return {
            phoneSearchUpdate: phoneSearchUpdate,
            phoneChanged:phoneChanged
        }
    }();

    function mapClicked(e) {
        console.log(e);
        map.setCenter(e.latLng.lat(), e.latLng.lng());
        // map.removeMarkers();
    }

    
    function zoomChanged(map) {
        //    $('#MapZoom').val(map.zoom);
    }

</script>