@using Get_A_Taxi.Web.Infrastructure.LocalResource
@model Get_A_Taxi.Web.ViewModels.TaxiStandVM
@{
    var districtsList = (List<SelectListItem>)ViewBag.DistrictsList;
}

@using (Ajax.BeginForm("SearchStand", null, new AjaxOptions
{
    UpdateTargetId = "taxiStandsResults",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    OnComplete = "hideLoader()"
}, new { id = "taxiStandSearchForm" }))
{
    <p>@Resource.Search:</p>
    @Html.AntiForgeryToken()
    <label for="aliasSearchTxt">@Resource.Alias</label>
    <input type="text" id="aliasSearchTxt" name="alias" oninput="searchTaxiStands()" title="@Resource.Alias" />
    @Html.DropDownListFor(model => model.DistrictId, districtsList, htmlAttributes: new { @class = "dropdown", oninput = "changed()" })
}
