@using Get_A_Taxi.Web.Infrastructure.LocalResource
@model Get_A_Taxi.Web.ViewModels.TaxiStandVM

@{
    ViewBag.Title = @Resource.Deactivate + " " + @Resource.TaxiStand;
}

<h2>@ViewBag.Title</h2>

<h3>@Resource.DeactivateConfirm</h3>
<div>
    <h4>@Resource.TaxiStand</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resource.Deactivate" class="btn btn-default" /> |
            @Html.ActionLink(@Resource.BackToList, "Index")
        </div>
    }
</div>
