@using Get_A_Taxi.Web.Infrastructure.LocalResource;
<h2>@Resource.ManagerPanel</h2>

<div class="container-liquid" style="margin:0px; padding: 0px">
    <div class="row">
        <a href="@Url.Action("Index", "Employees", new { area = ""})">
            <div class="col-xs-12 col-sm-6 col-md-6 text-center">
                <div class="buttonicon">
                    <img src="~/Content/Images/Icons/employee.png" />
                    <img src="~/Content/Images/Badges/search.png" class="buttoniconbadge" />
                </div>
                <h5>@Resource.Search @Resource.Employee</h5>
            </div>
        </a>
    </div>
    <div class="row">
        <a href="@Url.Action("Create", "Employees", new { area = "" })">
            <div class="col-xs-12 col-sm-6 col-md-6 text-center">
                <div class="buttonicon">
                    <img src="~/Content/Images/Icons/employee.png" />
                    <img src="~/Content/Images/Badges/plus.png" class="buttoniconbadge" />
                <h5>@Resource.Add @Resource.Employee</h5>
                </div>
            </div>
        </a>
    </div>
</div>
