@using Get_A_Taxi.Web.Infrastructure.LocalResource
@{
    ViewBag.Title = Resource.Home;
}

<div class="jumbotron">
    <h1>Get-A-Taxi</h1>
    <p class="lead">@Resource.Subtitle</p>
    @Html.ActionLink(Resource.Overview + " »", "About", "Home", new { area = "" }, new { @class = "btn btn-primary btn-lg" })

</div>

<div class="row">
    <div class="col-md-12">
        <h2>@Resource.GettingStarted</h2>
        <p>
            @Resource.GettingStartedP1
        </p>
        <ul>
            <li>@Resource.GettingStartedLi1</li>
            <li>@Resource.GettingStartedLi2</li>
            <li>@Resource.GettingStartedLi3
                <ul>
                    <li>@Resource.GettingStartedL31</li>
                    <li>@Resource.GettingStartedL32</li>
                </ul>
            </li>
            @if (HttpContext.Current.IsDebuggingEnabled) 
            { 
            <li>@ViewBag.Message</li>
            <li>Demo accounts
                <ul>
                    <li>Jasper Newton Daniel - Manager / login: jack@getataxi.com / pass: JackDaniels</li>
                    <li>Shisho D. Bakshisho - Driver/ login: shisho@getataxi.com / pass: shisho	</li>
                    <li>Mary Jane - Operator / login: maryjane@getataxi.com / pass: maryjane</li>
                    <li>Charlie Donathan Doe - Operator / login: charlie@getataxi.com / pass: charlie</li>
                </ul>
            </li>
            }
        </ul>
    </div>
   
</div>