@using Get_A_Taxi.Models
@model IEnumerable<Get_A_Taxi.Web.ViewModels.UserItemViewModel>
@{
    List<SelectListItem> userRoles = (List<SelectListItem>)ViewBag.UserRoles;
}
@if (Model.Any())
{
    <table class="table table-striped">
        <tr>
            <th>&nbsp;</th>
            <th>@Html.LabelFor(m => m.First().Roles)</th>
            <th>@Html.LabelFor(m => m.First().FullName)</th>
            <th>@Html.LabelFor(m => m.First().District)</th>
            <th>@Html.LabelFor(m => m.First().PhoneNumber)</th>
            <th>@Html.LabelFor(m => m.First().Email)</th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @if (User.IsInRole(UserRoles.Manager.ToString()))
                    {
                        @Html.ActionLink("Edit", "Edit", "Employees", new { area = "", id = user.Id }, null)
                        @:|
                    }

                    @Ajax.ActionLink("Details", "DriverDetails", new { driverId = user.Id },
        new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "user-details",
                OnBegin = "cleanUserDetails()",
                OnComplete = "userDetailsLoaded()"
            }, null)
                </td>
                <td>
                    @{

            foreach (var roleid in user.Roles)
            {
                var roleLabelText = userRoles.Find(m => m.Value == roleid);
                @roleLabelText.Text<br />
            }
                    }
                </td>
                <td>
                    @Html.DisplayFor(model => user.FullName)
                </td>
                <td>
                    @Html.DisplayFor(model => user.District)
                </td>
                <td>
                    @Html.DisplayFor(model => user.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => user.Email)
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>Driver not found!</p>
}
