@using Get_A_Taxi.Models
@model Get_A_Taxi.Web.ViewModels.TaxiDetailsVM
<fieldset>
    <legend>Taxi Details</legend>
    <table>
        <tr>
            <th>@Html.LabelFor(model => model.Plate)</th>
            <td>@Html.DisplayFor(model => model.Plate)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.Seats)</th>
            <td>@Html.DisplayFor(model => model.Seats)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.Luggage)</th>
            <td>@Html.DisplayFor(model => model.Luggage)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.Status)</th>
            @if (Model.Status < TaxiStatus.OffDuty)
            {
                <td class="text-danger">@Html.DisplayFor(model => model.Status)</td>
            }
            else
            {
                <td>@Html.DisplayFor(model => model.Status)</td>
            }
        </tr>
    </table>
</fieldset>

<fieldset>
    <legend>Taxi Driver Details</legend>
    @if (String.IsNullOrEmpty(Model.Driver.Id))
    {
        <h5 class="text-danger"><strong>No driver assigned!</strong></h5>
       
        <div id="userSearchPartial">
            @Html.Partial("_UserSearchPartialView", new Get_A_Taxi.Web.ViewModels.UserSearchVM())
        </div>
        <div id="results">
        </div>

        <div id="assignDriverForm">
            @using (Html.BeginForm("AssignDriver", "Taxies", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("taxiId", Model.TaxiId)
                <div id="user-details">
                </div>
                <input type="submit" value="Assign Driver" class="btn btn-default" />
            }
        </div>

    }
    else
    {
        using (Html.BeginForm("UnassignDriver", "Taxies", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("taxiId", Model.TaxiId)
            <div id="user-details">
                @Html.Partial("_UserInfoPartialView", Model.Driver)
            </div>
            <input type="submit" value="Unassign Driver" class="btn btn-default" />
        }
    }
</fieldset>

<script>
    function searchDrivers() {
        $("#driverSearchForm").submit();

    }
</script>

