@model Get_A_Taxi.Web.ViewModels.DistrictVM

@{
    ViewBag.Title = "Delete District";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenterLatitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenterLatitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenterLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenterLongitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MapZoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MapZoom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
