@model Get_A_Taxi.Web.ViewModels.DistrictVM

@{
    ViewBag.Title = "District Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenterLatitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenterLatitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenterLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenterLongitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MapZoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MapZoom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DistrictId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
