@model IEnumerable<Get_A_Taxi.Web.ViewModels.UserItemViewModel>
@{
    List<SelectListItem> userRoles = (List<SelectListItem>)ViewBag.UserRoles;
}
<table class="table">
    <tr><th>Select</th><th>Current Role</th><th>Username</th><th>Phone</th><th>E-mail</th></tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.CheckBoxFor(model => user.Marked)
            </td>
            <td>
                @{
        var roleLabelText = userRoles.Find(m => m.Value == user.RoleId);
        @roleLabelText.Text;
                }
            </td>
            <td>
                @Html.DisplayFor(model => user.Name)
            </td>
            <td>
                @Html.DisplayFor(model => user.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(model => user.Email)
            </td>
        </tr>
    }
</table>